<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SocketIO Demo</title>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.5.3/socket.io.min.js"></script>
    <link href="https://www.w3school.com.cn/lib/bs/bootstrap.css" rel="stylesheet">
    <script src="https://www.w3school.com.cn/lib/bs/bootstrap.js"></script>
</head>

<body>
<!-- 标题 -->
<h2 class="container-fluid p-5 bg-primary text-white text-center">Demo of SocketIO</h2>

<!-- 房间交互按钮 -->
<div class="container" style="display: flex; justify-content: center">
    <div style="display: flex; gap: 10px; align-items: end">
        <input style="width: 300px" class="form-control" id="room_number" placeholder="请输入房间号" name="email">
        <button type="submit" class="btn btn-primary" id="create" onclick="create()">创建房间</button>
        <button type="submit" class="btn btn-primary" id="join" onclick="join()">加入房间</button>
    </div>
</div>

    <script>
        window.onload = function() {
            let WebsocketUrl = location.protocol + '//' + document.domain + ':' + location.port + '/room';
            console.log(WebsocketUrl);

            Socket = io.connect(WebsocketUrl);

            Socket.on('connect', function () {
                let data = {
                    url: WebsocketUrl,
                    room_number: RoomNumber,
                    video_state: 0,
                    video_progress: 0,
                }

                Socket.emit('user-init', data);
            });
        };
    </script>
</body>

</html>